@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@media (prefers-color-scheme: light) {
  body{
    background-color: #ffffff;
    color:#000000;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #000000;
    color:#ffffff;
  }
}

body{
margin:0 !important;
text-align:center;
font-family:'NanumSquare', sans-serif;
}
div{
position: absolute;
width:100%; height:auto;
margin:0; top:25%;
align-content: center;
transition-timing-function: ease;
transition-duration: 0.2s;
}

.clock_time, .clock_date, .weather{
  position:relative;
  align-content:center;
}
.clock_time{
  font-size:64px;
  font-weight:300;
}
.clock_date{
  font-size:28px;
  font-weight:100;
  top:10px;
}
.weather{
  font-size:24px;
  font-weight:500;
  top:20px;
}
.weather img{
  position: relative;
  top:5px;
  height:26px;
}
.font-grey{
  color:grey;
}

/* 세로 화면 */

/* 가로 화면 */
